body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    cursor: pointer;
  }
  
  .text-primary {
    color: #666666;
  }
  
  .text-blue {
    color: #246dec;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #367952;
  }
  
  .text-orange {
    color: #f5b74f;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
    
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */

  nav{
    top: 0;
    width: 100%;
    z-index: 10000px;
    display: flex;
    justify-content: center;
  }
  
  .header {
    grid-area: header;
    height: 100px;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1.5px solid #b3a1a1;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

  .header-title{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }

  .header-right{
    display: flex;
  }

  .box{
    position: absolute;
    display: none;
    transition: 0.7s;
  }

  .box.active{
    display: flex;
    display: flex;
    transition: 0.7s;
  }

  .notification{
    position: relative;
    margin: 0 0.4rem;
    font-size: 1rem;
  }

  .counter{
    position: absolute;
    top: -10px;
    right: -8px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(40, 120, 224);
  }

  .notification_box{
    position: absolute;
    left: -215px;
    top: 23px;
    width: 300px;
    height: 300px;
    margin-right: 5px;
    border-radius: 8px;
    background: #246dec;
    overflow-x: auto;
    padding: 0.2rem 0.5rem;
  }

  .notification_box::-webkit-scrollbar-thumb{
    padding-right: 10px;
    width: 2px;
  }

  .notification_box::-webkit-scrollbar-thumb{
    background: rgb(7, 21, 224);
  }

  .notification_box::-webkit-scrollbar-thumb:hover{
    width: 5px;
    transition: 0.3s;
  }

  .message{
    display: flex;
    margin: 6px 2px;
    padding: 8px 15px 8px 7px;
    background: white;
    align-items: center;
    justify-content: space-between;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;

  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  
  .charts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .charts-card {
    list-style: none;
    text-decoration: none;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px 0px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }

  .area-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 2rem;
  }

  .area-chart span{
    font-size: 7rem;
    color: #246dec;
  }

  .bar-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 2rem;
  }
  
  .bar-chart span{
    font-size: 7rem;
    color: #246dec;
  }
  
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #070707;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {

    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
      cursor: pointer;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  @media screen and (max-width: 768px) {

    .main-container {
        grid-area: main;
        overflow-y: auto;
        padding: 20px 20px;
    }
  
    .charts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }

    
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {

    .header-left {
      display: none;
    }
  }

  .collapse_link{
    justify-self: flex-end;
    color: white;
    transition: 0.5s;
}

.collapse_menu{
    padding: 0.75rem 2.25rem;
}

.collapse_sublink{
    display: block;
    padding: .3rem 0rem;
    text-decoration: none;
    color: white;
}

.collapse_sublink:hover{
    color: white;
    transition: 0.5s 
}

